<script id="script-template" type="text/template">
    <div class="cookies-banner__body  js-cookie-banner-terminal" style=""><p class="cookies-banner__paragraph">Cookies
        and
        IP addresses allow us to deliver and improve our web content and to
        provide you with a personalized experience. Our website uses cookies and collects your IP address for these
        purposes.</p>
        <p class="cookies-banner__paragraph cookies-banner__pre">
            <span class="cookies-banner__pre-inner">
                We may use cookies and my IP address to<br>
                collect individual statistics and to provide me with<br>
                personalized offers and ads subject to the
                <a class="cookies-banner__link" target="_blank" href="">Privacy<br> Policy</a>
                and the
            <a class="cookies-banner__link" target="_blank" href="">Terms of Use</a>. We may use<br>
            <a class="cookies-banner__link" target="_blank" href="">third-party services</a> for this purpose. I can revoke<br> my consent at any time by visiting the
            <a class="cookies-banner__link" target="_blank" href="">Opt-Out page</a>.<br><br>
            <a class="cookies-banner__choice-link" data-choice="yes">[<b>Y</b>]es, I agree</a>
            <a class="cookies-banner__choice-link" data-choice="no">[<b>N</b>]o, thanks</a></span>
        </p>
        <div class="jquery-console-inner jquery-console-nofocus"><textarea autocomplete="off" autocorrect="off"
                                                                           autocapitalize="off" spellcheck="false"
                                                                           class="jquery-console-typer"
                                                                           style="position: absolute; top: 0px; left: -9999px;"></textarea>
            <div class="jquery-console-prompt-box"><span class="jquery-console-prompt-label">~&nbsp;root# </span><span
                    class="jquery-console-prompt"><span class="jquery-console-cursor">&nbsp;</span></span></div>
        </div>
    </div>
</script>